{% extends 'base.html.twig' %}

{% block title %}Espace d'ajout des espaces{% endblock %}

{% block body %}
    <h1>Bienvenue dans l'espace d'ajout des espaces du zoo</h1>
    {{ form(formulaire) }}
{% endblock %}