{% extends 'base.html.twig' %}

{% block title %}Espace de suppresion des espaces{% endblock %}

{% block body %}
    <h1>Veuillez comfirmé la suppression</h1>
    {{ form(formulaire) }}
    <br>
    <a href="{{ path('app_espaces') }}" class="btn btn-primary">retour</a>
{% endblock %}