{% extends 'base.html.twig' %}

{% block title %}Hello EnclosController!{% endblock %}

{% block body %}
    <h1>hui</h1>
    {{ form(formulaire) }}
    <a href="{{ path('app_enclos') }}" class="btn btn-secondary">Retour</a>
{% endblock %}