{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du ZOO{% endblock %}

{% block body %}
    <h1>Page d'accueil de la gestion du zoo</h1>
    <a class="btn btn-primary" href="{{ path('app_espaces') }}">proutre</a>
{% endblock %}
